@page "/discord-community-access"
@using LinkDotNet.Blog.Infrastructure.Persistence
@using LinkDotNet.Blog.Domain
@using System.Collections.Immutable
@using System.Globalization

<OgData Title="Discord Community Access" Description="Get access to the private Dev Leader Discord community!"></OgData>

<div class="container">
    <div style="text-align: center;">
        <a href="https://sidestack.io/devleader">
            <img
                title="C# From Zero to Hero - Dometrain Course - Dev Leader"
                 src="https://devleader-d2f9ggbjfpdqcka7.z01.azurefd.net/media/2023/12/8df52a47-0834-4f0b-9723-7b7855a8c62d-1.webp"
                alt="Private Discord Community Access"
                loading="lazy"
                decoding="async">
        </a>
    </div>
    <div>
        <p>When it comes to creating content that people find valuable, at the core, this requires strong engagement with the community. I need to ensure that I have a pulse on what you’re interested in, where you’re facing challenges, and how I can direct my attention to helping.</p>
        <p>My Discord community is one of my solutions to this! This is an opportunity where you can interact with not only me, but other people with similar questions that you have! There are other like-minded individuals who are trying to grow in their software engineering career and learn about dotnet technologies.</p>
        <p>We’ve had great conversations in the community, including fielding questions and having some of them turned into <a href="https://www.youtube.com/@@devleader?sub_confirmation=1" target="_blank" rel="nofollow noopener">videos on YouTube</a>!</p>
        <p style="text-align: center;"><a href="https://sidestack.io/devleader">Get Access Now!</a></p>
    </div>
</div>

@code {

}
