@page "/affiliations"
@using LinkDotNet.Blog.Infrastructure.Persistence
@using LinkDotNet.Blog.Domain
@using System.Collections.Immutable
@using System.Globalization

<OgData Title="Affilations" Description="These are the products I use and support!"></OgData>

<div class="container">
    <div class="entry clr" itemprop="text">
        <p>There’s no hiding it. Being able to create educational content for software engineers takes time – and money. In order for me to be able to create the content that I put out regularly across various platforms requires me to not only invest my own time but money out of my pocket as well. Which is why I look for support from various affiliations.</p>
        <p>I’m not complaining though! I love being able to do this, and it means so much to me that you’re here either reading my articles or watching the videos that I put out sharing my experiences in software engineering. It’s something that I find very fulfilling, so it truly means a lot to me that you’ve given me the opportunity to share my insights with you.</p>
        <p>But this is where affiliations come into play! And it’s also an opportunity for me to be extremely transparent with you about my affiliations:</p>
        <p>I do not affiliate with any products or services that I would not use myself.</p>
        <p>This is a core requirement of any of the affiliations that I have and will share with you. I strive to have a very high degree of trust because, without it, any of the information I provide through my content will lack value. Trust is therefore critical, and I need to stand behind anything I am promoting.</p>
        <p>And please keep in mind – affiliations mean that I generally receive some type of compensation if you make purchases through the links I provide! With that said, let’s jump into the affiliations I have and the products and services that I love</p>

        <hr class="wp-block-separator has-alpha-channel-opacity">

        <h2 class="wp-block-heading">Social Media &amp; Content</h2>
        <p>The following affiliations are for social media platforms as well as products/services related to content creation that I use.</p>

        <h3 class="wp-block-heading"><a href="https://www.brandghost.ai" target="_blank" rel="noopener" title="BrandGhost.ai">BrandGhost</a></h3>
        <div style="text-align:center">
            <iframe width="600" height="400" src="https://www.youtube.com/embed/bv-qS7MGvn4?si=XasdoNV5yi9pRN7D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <p>BrandGhost is my social media content creator tool that allows me to schedule posts across all platforms with ease.</p>
        <p>If you're a content creator or running a business, you can <a href="https://www.brandghost.ai" target="_blank" rel="noopener" title="BrandGhost">check it out here</a>!</p>

        <h3 class="wp-block-heading"><a href="https://convertkit.com?lmref=c5X7KQ" target="_blank" rel="noopener" title="ConvertKit Affiliate Link">ConvertKit</a></h3>
        <p>I use ConvertKit for my newsletter and I’ve really enjoyed everything that their platform offers.</p>
        <p>You can check them out with <a href="https://convertkit.com?lmref=c5X7KQ" target="_blank" rel="noopener" title="ConvertKit Affiliate Link">my affiliate link here</a>!</p>

        <h3 class="wp-block-heading"><a href="https://dash.sparkloop.app/signup?aff=9fe76c8b" target="_blank" rel="noopener sponsored" title="SparkLoop Affiliate Link">SparkLoop</a></h3>
        <p>I use SparkLoop alongside ConvertKit for my newsletter. SparkLoop has built-in tools to allow me to do referral programs and offer a unique newsletter experience that can reward participating readers.</p>
        <p>You can check them out with <a href="https://dash.sparkloop.app/signup?aff=9fe76c8b" target="_blank" rel="noopener sponsored" title="">my affiliate link here</a>!</p>

        <h3 class="wp-block-heading"><a href="https://www.opus.pro/?via=2f9e97" target="_blank" rel="noopener sponsored" title="Opus Clip Affiliate Link">Opus Clip</a></h3>
        <p>Creating short-form content can be incredibly tedious, and I’ll admit I am not the best at it. I’d rather focus my energy on creating the underlying content itself, not chopping it up and editing it. Opus Clip saves me a ridiculous amount of time and I’ve been extremely happy with their service for converting my long-form content into shorts.</p>
        <p>You can check them out with <a href="https://www.opus.pro/?via=2f9e97" target="_blank" rel="noopener sponsored" title="Opus Clip Affiliate Link">my affiliate link here</a>!</p>

        <h3 class="wp-block-heading"><a href="https://quora.com/quoraplus?ch=10&amp;invite_code=e7QLQ5pQgfBtLTOV&amp;share=2ef9cd85" target="_blank" rel="noopener sponsored" title="Quora Referral Link">Quora</a></h3>
        <p>Part of my mission with my content creation is to offer free help to as many aspiring programmers and software engineers as I can. When requested to answer things on Quora, I do my best to try and help. While Quora does have monetization strategies, I have a mix of answers that are monetized or not.</p>
        <p>You can sign up for Quora with <a href="https://www.quora.com/quoraplus?ch=10&amp;invite_code=e7QLQ5pQgfBtLTOV&amp;share=2ef9cd85" target="_blank" rel="noopener sponsored" title="Quora Referral Link">my referral link here</a>!</p>

        <hr class="wp-block-separator has-alpha-channel-opacity">

        <h2 class="wp-block-heading">Hosting</h2>
        <p>The following affiliations are for hosting services that I use.</p>

        <h3 class="wp-block-heading"><a href="https://my.racknerd.com/aff.php?aff=9013" target="_blank" rel="noopener sponsored" title="RackNerd Affiliate Link">RackNerd</a></h3>
        <p>One of my favorite options for cheap VPS hosting is RackNerd. I have over 35 hosted VPSs through RackNerd for various purposes, and I love using them because of their pricing and low-resource options. Their customer support has always been incredible, responding quickly and being very helpful with any challenges I’ve ever had.</p>
        <p>You can check them out with <a href="https://my.racknerd.com/aff.php?aff=9013" target="_blank" rel="noopener sponsored" title="RackNerd Affiliate Link">my affiliate link here</a>!</p>

        <h3 class="wp-block-heading"><a href="https://www.jdoqocy.com/click-101028632-12454592" target="_blank" rel="noopener sponsored" title="Contabo Affiliate Link">Contabo</a></h3>
        <p>Contabo is another VPS host that I’ve had a lot of success with. While I’ve used RackNerd to secure some very low-resource VPS instances for a very low price, Contabo has helped fit my needs for slightly more powerful VPS instances still at very affordable prices!</p>
        <p>You can check them out with <a href="https://www.jdoqocy.com/click-101028632-12454592" target="_blank" rel="noopener sponsored" title="Contabo Affiliate Link">my affiliate link here</a>!</p>

        <hr class="wp-block-separator has-alpha-channel-opacity">

        <h2 class="wp-block-heading">Health &amp; Fitness</h2>
        <p>Yeah, you’re on a software engineering website… But I’m also a bodybuilder and strongly (no pun intended) believe that we should balance our time at the computer with health and fitness.</p>

        <h3 class="wp-block-heading"><a href="https://glnk.io/63qn/devleader" target="_blank" rel="noopener sponsored" title="Bulk Supplements Affiliate Link">Bulk Supplements</a></h3>
        <p>I use Bulk Supplements for nearly all of my supplements. From creatine to powders that I use to help me wind down for sleep, Bulk Supplements has everything I need.</p>
        <p>You can check them out with <a href="https://glnk.io/63qn/devleader" target="_blank" rel="noopener sponsored" title="Bulk Supplements Affiliate Link">my affiliate link here</a>!</p>

        <hr class="wp-block-separator has-alpha-channel-opacity">

        <h2 class="wp-block-heading">Tech-Related</h2>
        <p>The following are tech-related products/services that I use and trust.</p>

        <h3 class="wp-block-heading"><a href="https://click.linksynergy.com/fs-bin/click?id=uxaXetuYo%2a0&amp;offerid=1207190.3&amp;bids=1207190.3&amp;type=3&amp;subid=0" target="_blank" rel="noopener sponsored" title="Newegg Affiliate Link">Newegg</a></h3>
        <p>I’m a computer nerd, so building my own computers and buying all of the associated parts has always appealed to me. I’ve used Newegg for as long as I can possibly remember. They carry a huge inventory of various parts for everything you could possibly need to build a PC.</p>
        <p>You can check them out with <a href="https://click.linksynergy.com/fs-bin/click?id=uxaXetuYo%2a0&amp;offerid=1207190.3&amp;bids=1207190.3&amp;type=3&amp;subid=0" target="_blank" rel="noopener sponsored" title="Newegg Affiliate Link">my affiliate link here</a>!</p>
    </div>
</div>

@code {

}
