@page "/membership"
@using LinkDotNet.Blog.Infrastructure.Persistence
@using LinkDotNet.Blog.Domain
@using System.Collections.Immutable
@using System.Globalization

<OgData Title="Membership" Description="Register for Dev Leader Weekly"></OgData>

<div class="container">
    <h2>Did you mean...</h2>
    <p>If you're looking for my newsletter subscription, then <a href="https://weekly.devleader.ca" target="_blank" rel="noopener"><strong>head over here to Substack!</strong></a></p>
</div>

@code {

}
