@page "/newsletter-sponsorship"
@using LinkDotNet.Blog.Infrastructure.Persistence
@using LinkDotNet.Blog.Domain
@using System.Collections.Immutable
@using System.Globalization

<OgData Title="Dev Leader Weekly" Description="Sign Up For Dev Leader Weekly Newsletter"></OgData>

<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b8ab8e6" data-id="b8ab8e6" data-element_type="column">
    <div class="elementor-widget-wrap elementor-element-populated">
        <!-- Content wrapper for centering the text before pricing tables -->
        <div class="content-wrapper">
            <div class="elementor-element elementor-element-16200c1 elementor-widget elementor-widget-heading" data-id="16200c1" data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">Why Sponsor Dev Leader Weekly?</h2>
                </div>
            </div>
            <div class="elementor-element elementor-element-5285fae elementor-widget elementor-widget-text-editor" data-id="5285fae" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <p>Dev Leader Weekly has thousands of software engineers who read it weekly. While programming content is shared in C#, many of the readers are present for the general software engineering perspective that I offer as a Principal Software Engineering Manager at Microsoft.</p>
                    <p>Some stats:</p>
                    <ul>
                        <li>Subscribers: ~9400</li>
                        <li>Growth: 200-500+ subscribers per month</li>
                        <li># of Issues: 90+</li>
                        <li>Open Rate: ~24%</li>
                        <li>Click Rate: ~6-9%</li>
                        <li>Demographic: Aspiring Software Engineers, Junior Software Engineers, Senior/Principal/Staff Software Engineers, Engineering Managers, Mobile Developers, Web Developers, Engineering Managers, Tech Content Creators</li>
                    </ul>
                    <div>I cross-promote my newsletter across the following social channels:</div>
                    <ul>
                        <li><a href="https://youtube.com/@@devleader" target="_blank" rel="noopener"><b><u>YouTube</u></b></a>&nbsp;(~11K subscribers)</li>
                        <li><a href="https://www.linkedin.com/in/nickcosentino" target="_blank" rel="noopener"><b><u>LinkedIn</u></b></a>&nbsp;(~26K followers, 9K newsletter readers)</li>
                        <li><b><u><a href="https://instagram.com/dev.leader" target="_blank" rel="noopener">Instagram</a>&nbsp;</u></b>(~5K followers)</li>
                        <li><a href="https://www.facebook.com/devleaderca" target="_blank" rel="noopener"><span style="text-decoration: underline;"><strong>Facebook</strong></span></a> (~500 followers)</li>
                        <li>Mastodon (~200 followers)</li>
                        <li>Pinterest</li>
                        <li>Threads (~1600+ followers)</li>
                        <li><span style="text-decoration: underline;"><strong><a href="https://www.tiktok.com/@@devleader" target="_blank" rel="nofollow noopener">TikTok</a></strong></span> (~1600+ followers)</li>
                        <li><span style="text-decoration: underline;"><strong><a href="https://twitter.com/devleaderca" target="_blank" rel="nofollow noopener">Twitter</a></strong></span> (~5.5K followers)</li>
                        <li><span style="text-decoration: underline;"><strong><a href="https://bsky.app/profile/devleader.ca" target="_blank" rel="nofollow noopener">Bluesky</a></strong></span> (~2.9K followers)</li>
                        <li><span style="text-decoration: underline;"><strong><a href="https://weekly.devleader.ca/notes" target="_blank" rel="nofollow noopener">Substack Notes</a></strong></span> (~13.4K followers followers)</li>
                        <li><strong><span style="text-decoration: underline;"><a href="https://app.daily.dev/squads/devleader" target="_blank" rel="noopener">Daily.Dev</a></span></strong> (~5.2k members)</li>
                    </ul>
                    <p>I drive traffic to my site, which prominently shows newsletter subscription pathways, with ~10K sessions/month. I cross post content with newsletter subscription paths and drive traffic&nbsp;<span style="font-size: 14px;">from additional sources including:</span></p>
                    <ul>
                        <li>Coding Forums</li>
                        <li><a href="https://stories.devleader.ca" target="_blank" rel="noopener"><span style="text-decoration: underline;"><strong>Medium</strong></span></a>&nbsp;(~300 followers)</li>
                        <li><a href="https://dev.to/devleader" target="_blank" rel="nofollow noopener"><span style="text-decoration: underline;"><strong>Dev.To</strong></span></a>&nbsp;(~4K+ followers)</li>
                        <li><a href="https://hackernoon.com/u/devleader" target="_blank" rel="nofollow noopener"><span style="text-decoration: underline;"><strong>Hackernoon</strong></span></a></li>
                        <li><a href="https://hashnode.devleader.ca/" target="_blank" rel="nofollow noopener"><span style="text-decoration: underline;"><strong>Hashnode</strong></span></a></li>
                        <li>Reddit</li>
                        <li>Quora</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pricing-tables-container">
            <div class="elementor-element elementor-element-7382c53 elementor-widget elementor-widget-price-table" data-id="7382c53" data-element_type="widget" data-widget_type="price-table.default">
                <div class="elementor-widget-container">
                    <div class="elementor-price-table">
                        <div class="elementor-price-table__header">
                            <h3 class="elementor-price-table__heading">
                                Shared Sponsorship
                            </h3>
                        </div>
                        <div class="elementor-price-table__price">
                            <span class="elementor-price-table__currency">$</span>		<span class="elementor-price-table__integer-part">
                                200
                            </span>
                        </div>
                        <ul class="elementor-price-table__features-list">
                            <li class="elementor-repeater-item-272ab60">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        1 of 2 (max) sponsors per issue
                                    </span>
                                </div>
                            </li>
                            <li class="elementor-repeater-item-2085cae">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        Sponsorship will remain present indefinitely in newsletter archive
                                    </span>
                                </div>
                            </li>
                            <li class="elementor-repeater-item-752984e">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        1-3 sentences, no graphics
                                    </span>
                                </div>
                            </li>
                            <li class="elementor-repeater-item-1b66d3f">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        Up to 2 links per sponsorship
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <div class="elementor-price-table__footer">
                            <a class="elementor-price-table__button elementor-button elementor-size-md" href="mailto:social@devleader.ca?subject=%5BSHARED%5D%20I'd%20like%20to%20sponsor%20your%20newsletter&amp;body=Hello%2C%0A%0AI'd%20like%20to%20sponsor%20Dev%20Leader%20Weekly%20for%20a%20shared%20sponsorship.%0A%0A(Include%20your%20details%20here!)">
                                Reserve Your Spot
                            </a>
                            <div class="elementor-price-table__additional_info">
                                Contact social@devleader.ca
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-18d02fd elementor-widget elementor-widget-price-table" data-id="18d02fd" data-element_type="widget" data-widget_type="price-table.default">
                <div class="elementor-widget-container">
                    <div class="elementor-price-table">
                        <div class="elementor-price-table__header">
                            <h3 class="elementor-price-table__heading">
                                Exclusive Sponsorship
                            </h3>
                        </div>
                        <div class="elementor-price-table__price">
                            <span class="elementor-price-table__currency">$</span>		<span class="elementor-price-table__integer-part">
                                300
                            </span>
                        </div>
                        <ul class="elementor-price-table__features-list">
                            <li class="elementor-repeater-item-272ab60">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        Exclusive sponsorship for the issue
                                    </span>
                                </div>
                            </li>
                            <li class="elementor-repeater-item-2085cae">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        Sponsorship will remain present indefinitely in newsletter archive
                                    </span>
                                </div>
                            </li>
                            <li class="elementor-repeater-item-752984e">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        1-3 sentences
                                    </span>
                                </div>
                            </li>
                            <li class="elementor-repeater-item-d7624e3">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        Media for logo
                                    </span>
                                </div>
                            </li>
                            <li class="elementor-repeater-item-1b66d3f">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        Up to 2 links per sponsorship
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <div class="elementor-price-table__footer">
                            <a class="elementor-price-table__button elementor-button elementor-size-md" href="mailto:social@devleader.ca?subject=%5BEXCLUSIVE%5D%20I'd%20like%20to%20sponsor%20your%20newsletter&amp;body=Hello%2C%0A%0AI'd%20like%20to%20sponsor%20Dev%20Leader%20Weekly%20for%20an%20exclusive%20position.%0A%0A(Include%20your%20details%20here!)">
                                Reserve Your Spot
                            </a>
                            <div class="elementor-price-table__additional_info">
                                Contact social@devleader.ca
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-3b8de34 elementor-widget elementor-widget-price-table" data-id="3b8de34" data-element_type="widget" data-widget_type="price-table.default">
                <div class="elementor-widget-container">
                    <div class="elementor-price-table">
                        <div class="elementor-price-table__header">
                            <h3 class="elementor-price-table__heading">
                                Sponsored Content
                            </h3>
                        </div>
                        <div class="elementor-price-table__price">
                            <span class="elementor-price-table__currency">$</span>		<span class="elementor-price-table__integer-part">
                                1000
                            </span>
                        </div>
                        <ul class="elementor-price-table__features-list">
                            <li class="elementor-repeater-item-272ab60">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        Everything from "Exclusive Sponsorship" package
                                    </span>
                                </div>
                            </li>
                            <li class="elementor-repeater-item-2085cae">
                                <div class="elementor-price-table__feature-inner">
                                    <svg aria-hidden="true" class="e-font-icon-svg e-far-check-circle" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm0 48c110.532 0 200 89.451 200 200 0 110.532-89.451 200-200 200-110.532 0-200-89.451-200-200 0-110.532 89.451-200 200-200m140.204 130.267l-22.536-22.718c-4.667-4.705-12.265-4.736-16.97-.068L215.346 303.697l-59.792-60.277c-4.667-4.705-12.265-4.736-16.97-.069l-22.719 22.536c-4.705 4.667-4.736 12.265-.068 16.971l90.781 91.516c4.667 4.705 12.265 4.736 16.97.068l172.589-171.204c4.704-4.668 4.734-12.266.067-16.971z"></path>
                                    </svg>
                                    <span>
                                        Write a custom article* on dotnet, C#, or general software engineering **
                                    </span>
                                </div>
                            </li>
                        </ul>
                        <div class="elementor-price-table__footer">
                            <a class="elementor-price-table__button elementor-button elementor-size-md" href="mailto:social@devleader.ca?subject=%5BSPONSORED%20CONTENT%5D%20I'd%20like%20to%20sponsor%20your%20newsletter&amp;body=Hello%2C%0A%0AI'd%20like%20to%20sponsor%20Dev%20Leader%20Weekly%20for%20sponsored%20content.%0A%0A(Include%20your%20details%20here!)">
                                Reserve Your Spot
                            </a>
                            <div class="elementor-price-table__additional_info">
                                * We can align on topics ahead of time.
                                ** I reserve the right to edit and proof the article. Contact social@devleader.ca
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
