@page "/courses"
@using LinkDotNet.Blog.Infrastructure.Persistence
@using LinkDotNet.Blog.Domain
@using System.Collections.Immutable
@using System.Globalization

<OgData Title="Courses" Description="Check out these courses on C#, dotnet, software engineering, and career advice that I've created!"></OgData>

<div class="container">
    <div class="entry clr" itemprop="text">
        <p>I’m a firm believer that the most effective way for us to improve as software engineers is to build software. However, I still publish free articles and videos to help supplement learning. And for that same reason, I’ll be offering courses of different kinds here. If you are using these materials to supplement your efforts in building things, then I think you’re on the right track!</p>
        <hr class="wp-block-separator has-alpha-channel-opacity">
        <h2 class="wp-block-heading">Navigating Online Courses</h2>
        <div class="wp-block-aioseo-table-of-contents">
            <ul>
                <li>
                    <a href="#aioseo-dometrain-courses">Dometrain Courses</a>
                    <ul>
                        <li><a href="#aioseo-c-getting-started">Getting Started: C#</a></li>
                        <li><a href="#aioseo-deep-dive-c">Deep Dive: C#</a></li>
                        <li><a href="#aioseo-bundle-from-zero-to-hero-c">From Zero to Hero: C# Course Bundle</a></li>
                        <li><a href="#aioseo-from-zero-to-hero-refactoring-for-c-developers">From Zero to Hero: Refactoring for C# Developers</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#aioseo-free-courses">Free Courses</a>
                    <ul>
                        <li><a href="#aioseo-introduction-to-software-development">Introduction To Software Development</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr class="wp-block-separator has-alpha-channel-opacity">
        <h2 class="wp-block-heading" id="aioseo-dometrain-courses">Dometrain Courses</h2>
        <p>These are <a href="https://dometrain.com/author/nick-cosentino?affcode=1115529_nl-teyzg" target="_blank" rel="noopener" title="Nick Cosentino's Courses on Dometrain">software engineering courses and programming courses</a> that are hosted on Dometrain. Dometrain courses are paid for and generally much longer and more in-depth than the other courses I will offer here. Nick Chapsas has created an *awesome* platform for getting some of the most experienced software engineers and software architects together to teach you about all of their experiences.</p>
        <p>I’m proud to be a Dometrain course author and will happily continue to support the platform!</p>
        <h3 class="wp-block-heading" id="aioseo-c-getting-started"><a href="https://dometrain.com/course/getting-started-csharp?affcode=1115529_nl-teyzg" target="_blank" rel="noopener" title="Getting Started: C# - Dometrain">Getting Started: C#</a></h3>
        <div class="wp-block-image">
            <figure class="aligncenter size-full"><a href="https://dometrain.com/course/getting-started-csharp?affcode=1115529_nl-teyzg" target="_blank" rel="noreferrer noopener" class="no-lightbox"><img title="Getting Started: C# - Dometrain Course - Dev Leader" fetchpriority="high" decoding="async" width="705" height="397" src="https://www.devleader.ca/wp-content/uploads/2024/02/courses-dometrain-C-getting-started-wide.webp" alt="Getting Started: C# - Dometrain Course" class="wp-image-6015" srcset="https://www.devleader.ca/wp-content/uploads/2024/02/courses-dometrain-C-getting-started-wide.webp 705w, https://www.devleader.ca/wp-content/uploads/2024/02/courses-dometrain-C-getting-started-wide-300x169.webp 300w" sizes="(max-width: 705px) 100vw, 705px"></a></figure>
        </div>
        <p>Directly from the <a href="https://dometrain.com/course/getting-started-csharp?affcode=1115529_nl-teyzg" target="_blank" rel="noopener" title="Getting Started: C# - Dometrain">Dometrain website</a>:</p>
        <p>Whether you have no programming experience or already know a different programming language and want to learn C#, this course is for you. In this course, Principal Engineering Manager Nick Cosentino will teach you everything you need to know to start with programming and C#. C# is one of the most popular programming languages, with millions of lines of code powering some of the most used websites, services and tools. From Office to Azure, our lives wouldn’t be the same without C#. This is your chance to build your programming knowledge on the solid foundation powered by Microsoft themselves.</p>
        <div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-core-buttons-is-layout-1 wp-block-buttons-is-layout-flex">
            <div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-vivid-cyan-blue-background-color has-background wp-element-button" href="https://dometrain.com/course/getting-started-csharp?affcode=1115529_nl-teyzg" target="_blank" rel="noreferrer noopener">GET THIS COURSE</a></div>
        </div>
        <h3 class="wp-block-heading" id="aioseo-deep-dive-c"><a href="https://dometrain.com/course/deep-dive-csharp?affcode=1115529_nl-teyzg" target="_blank" rel="noopener" title="Deep Dive: C# - Dometrain">Deep Dive: C#</a></h3>
        <div class="wp-block-image">
            <figure class="aligncenter size-full"><a href="https://dometrain.com/course/deep-dive-csharp?affcode=1115529_nl-teyzg" target="_blank" rel="noreferrer noopener" class="no-lightbox"><img title="Deep Dive: C# - Dometrain Course - Dev Leader" decoding="async" width="705" height="397" src="https://www.devleader.ca/wp-content/uploads/2024/03/courses-dometrain-C-deep-dive-wide.jpg" alt="Deep Dive: C# - Dometrain Course" class="wp-image-6677" srcset="https://www.devleader.ca/wp-content/uploads/2024/03/courses-dometrain-C-deep-dive-wide.jpg 705w, https://www.devleader.ca/wp-content/uploads/2024/03/courses-dometrain-C-deep-dive-wide-300x169.jpg 300w" sizes="(max-width: 705px) 100vw, 705px"></a></figure>
        </div>
        <p>Directly from the <a href="https://dometrain.com/course/deep-dive-csharp?affcode=1115529_nl-teyzg" target="_blank" rel="noopener" title="Deep Dive: C# - Dometrain">Dometrain website</a>:</p>
        <p>Picking up where he left off on the Getting Started with C# course, Microsoft Principal Software Engineering Manager Nick Cosentino will dive deeper into C#’s feature set and explain more advanced features and patterns. This course covers features such as object-oriented programming with C#, with sections on inheritance and composition, low-level streams, advanced methods and functions like callbacks and delegates, and explaining multithreading and asynchronous programming. If you understand the basics of C# and want to gain even more in-depth knowledge of the language, then this course is for you.</p>
        <div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-core-buttons-is-layout-2 wp-block-buttons-is-layout-flex">
            <div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-vivid-cyan-blue-background-color has-background wp-element-button" href="https://dometrain.com/course/deep-dive-csharp?affcode=1115529_nl-teyzg" target="_blank" rel="noreferrer noopener">GET THIS COURSE</a></div>
        </div>
        <h3 class="wp-block-heading" id="aioseo-bundle-from-zero-to-hero-c"><a href="https://dometrain.com/bundle/from-zero-to-hero-csharp/?affcode=1115529_nl-teyzg" target="_blank" rel="noopener" title="From Zero to Hero: C# - Dometrain Course Bundle">From Zero to Hero: C# Course Bundle</a></h3>
        <div class="wp-block-image">
            <figure class="aligncenter size-full"><a href="https://dometrain.com/bundle/from-zero-to-hero-csharp/?affcode=1115529_nl-teyzg" target="_blank" rel="noreferrer noopener" class="no-lightbox"><img title="C# From Zero to Hero - Dometrain Course - Dev Leader" loading="lazy" decoding="async" width="705" height="397" src="https://www.devleader.ca/wp-content/uploads/2024/04/courses-dometrain-C-bundle.webp" alt="C# From Zero to Hero - Dometrain Course" class="wp-image-6879" srcset="https://www.devleader.ca/wp-content/uploads/2024/04/courses-dometrain-C-bundle.webp 705w, https://www.devleader.ca/wp-content/uploads/2024/04/courses-dometrain-C-bundle-300x169.webp 300w" sizes="(max-width: 705px) 100vw, 705px"></a></figure>
        </div>
        <p>All the courses you need to learn modern C#! This bundle contains&nbsp;the previous <strong>2</strong>&nbsp;courses at a&nbsp;<strong>20%</strong>&nbsp;discount!</p>
        <div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-core-buttons-is-layout-3 wp-block-buttons-is-layout-flex">
            <div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-vivid-cyan-blue-background-color has-background wp-element-button" href="https://dometrain.com/bundle/from-zero-to-hero-csharp/?affcode=1115529_nl-teyzg" target="_blank" rel="noreferrer noopener">GET THIS BUNDLE</a></div>
        </div>
        <h3 class="wp-block-heading" id="aioseo-from-zero-to-hero-refactoring-for-c-developers"><a href="https://dometrain.com/course/from-zero-to-hero-refactoring-for-csharp-developers?affcode=1115529_nl-teyzg" target="_blank" rel="noopener" title="From Zero to Hero: Refactoring for C# Developers - Dometrain">From Zero to Hero: Refactoring for C# Developers</a></h3>
        <div class="wp-block-image">
            <figure class="aligncenter size-full"><a href="https://dometrain.com/course/from-zero-to-hero-refactoring-for-csharp-developers?affcode=1115529_nl-teyzg" target="_blank" rel="noreferrer noopener" class="no-lightbox"><img title="Courses - Dometrain - Refactoring for csharp devs - wide - Dev Leader" loading="lazy" decoding="async" width="800" height="450" src="https://www.devleader.ca/wp-content/uploads/2023/11/courses-dometrain-refactoring-for-csharp-devs-wide.webp" alt="Courses - Dometrain - Refactoring for csharp devs - wide" class="wp-image-4467" srcset="https://www.devleader.ca/wp-content/uploads/2023/11/courses-dometrain-refactoring-for-csharp-devs-wide.webp 800w, https://www.devleader.ca/wp-content/uploads/2023/11/courses-dometrain-refactoring-for-csharp-devs-wide-300x169.webp 300w, https://www.devleader.ca/wp-content/uploads/2023/11/courses-dometrain-refactoring-for-csharp-devs-wide-768x432.webp 768w" sizes="(max-width: 800px) 100vw, 800px"></a></figure>
        </div>
        <p>Directly from the <a href="https://dometrain.com/course/from-zero-to-hero-refactoring-for-csharp-developers?affcode=1115529_nl-teyzg" target="_blank" rel="noopener" title="From Zero to Hero: Refactoring for C# Developers - Dometrain">Dometrain website</a>:</p>
        <p>Are you a C# <a href="https://www.devleader.ca/2023/11/28/what-does-refactoring-code-mean-what-new-developers-need-to-know/" title="What Does Refactoring Code Mean? What New Developers Need To Know">developer keen on enhancing code</a> quality and maintainability? If yes, this “From Zero to Hero” course called “Refactoring for C# Developers” is tailor-made for you! This course will equip you with practical skills and the latest practices to <a href="https://www.devleader.ca/2023/11/14/top-10-refactoring-techniques-you-need-to-transform-your-codebase/" title="What Does Refactoring Code Mean? What New Developers Need To Know">refactor any C# codebase</a>. Starting with an overview of refactoring, its importance, and when it’s needed, the course delves into various modern and clean refactoring techniques.</p>
        <p>The best part? The course uses real-world examples to demonstrate how to transform a codebase to make it more efficient, readable, and extendable. With a focus on hands-on learning, guided examples are provided to demonstrate the refactoring process. But that’s not all! The course also covers the implications of refactoring on team collaboration and project scalability. By the end of this course, you’ll have a solid grasp of refactoring practices, which you can apply directly to your C# development projects.</p>
        <p>This course is delivered by Nick Cosentino, a Principal Software Engineering Manager at Microsoft, and is based on years of hands-on experience in the field.</p>
        <div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-core-buttons-is-layout-4 wp-block-buttons-is-layout-flex">
            <div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-vivid-cyan-blue-background-color has-background wp-element-button" href="https://dometrain.com/course/from-zero-to-hero-refactoring-for-csharp-developers?affcode=1115529_nl-teyzg" target="_blank" rel="noreferrer noopener">GET THIS COURSE</a></div>
        </div>
        <hr class="wp-block-separator has-alpha-channel-opacity">
        <h2 class="wp-block-heading" id="aioseo-free-courses">Free Courses</h2>
        <p>These are software engineering courses and programming courses that are freely available to all! No membership. No cost. No strings attached.</p>
        <h3 class="wp-block-heading" id="aioseo-introduction-to-software-development"><a href="https://www.youtube.com/playlist?list=PLzATctVhnsggb3lj53T8fJSK6LJQFUyKS" target="_blank" rel="noopener" title="Introduction To Software Development - FREE Course">Introduction To Software Development</a></h3>
        <p>Are you someone who has thought about getting into software development but is not sure where to start? Have you convinced yourself that you’re “not good enough” or “not smart enough” to be a developer? Maybe that software development is just “too hard”? This absolutely free mini-course is PERFECT for you then.</p>
        <p>These short videos will provide you with some intro topics to software development and explain to you that software development is primarily problem-solving and communication. You don’t need to be a math whiz or a genius, just someone who enjoys solving problems and working with people on said problems.</p>
        <p><a href="https://www.youtube.com/playlist?list=PLzATctVhnsggb3lj53T8fJSK6LJQFUyKS" target="_blank" rel="noopener" title="Introduction To Software Development - FREE Course">Check it out here</a>!</p>
    </div>
</div>

@code {

}
